$primary: #49392c;
$secondary: #77625c;
$contrastPrimary: #b2b1cf;
$contrastSecondary: #86ba90;
$contrastTerciary: #f5f3bb;

$offcanvas-bg-color: $secondary;
$offcanvas-color: #fff;

$custom-theme: (
  'contrastPrimary': $contrastPrimary,
  'contrastSecondary': $contrastSecondary,
  'contrastTerciary': $contrastTerciary,
);
