$theme-colors: map-merge($theme-colors, $custom-theme);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  '$key',
  'text'
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'bg');

// $utilities: map-merge(
//   $utilities,
//   (
//     'font-size':
//       map-merge(
//         map-get($utilities, 'font-size'),
//         (
//           responsive: true,
//         )
//       ),
//   )
// );

$utilities: map-merge(
  $utilities,
  (
    'background-overlay': (
      property: background,
      class: bg-overlay-gradient,
      values: (
        25: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 100%),
        50: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
        75: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) 100%),
      ),
    ),
  )
);
